<% include partials/header %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>This is the campgrounds page</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p>
        <a class="btn btn-primary btn-large" href="/campgrounds/new"
          >Add a new Campground</a
        >
      </p>
    </div>
  </header>
  <div class="row">
    <% campgrounds.forEach(function(campground){ %>
    <div class="col-md-3 col-sm-6">
      <div class="card">
        <img class="card-img" src="<%=campground.image%>" />
        <div class="card-body text-center">
          <h4 class="card-title"><%= campground.name %></h4>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <div class="container">
    <h2>Pictures of Coffee</h2>
    <div class="row">
      <div class="col-lg-4 col-6 ">
        <img
          class="img-thumbnail img-fluid"
          src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/04LDEYRW59.jpg"
          alt=""
        />
      </div>
      <div class="col-lg-4 col-6 ">
        <img
          class="img-thumbnail img-fluid"
          src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/90V03Q5Y60.jpg"
          alt=""
        />
      </div>
      <div class="col-lg-4 col-6 ">
        <img
          class="img-thumbnail img-fluid"
          src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/O83SF2RB6D.jpg"
          alt=""
        />
      </div>
      <div class="col-lg-4 col-6 ">
        <img
          class="img-thumbnail img-fluid"
          src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/5JVPSVP7EI.jpg"
          alt=""
        />
      </div>
      <div class="col-lg-4 col-6 ">
        <img
          class="img-thumbnail img-fluid"
          src="https://images.unsplash.com/photo-1541233349642-6e425fe6190e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
          alt=""
        />
      </div>
      <div class="col-lg-4 col-6 ">
        <img
          class="img-thumbnail img-fluid"
          src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/YSSFRY5B25.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>
