<% include partials/header %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="mb-5">This are all the campgrounds</h1>
      <a class="btn btn-large btn-dark" href="campgrounds/new"> Add a new campground</a>
    </div>

    <ul></ul>

    <% campgrounds.forEach(function(campground){ %>
      <div>
        <h4>
          <%=campground.name%>
        </h4>
        <img src="<%=campground.image%>" />
      </div>
      <% }) %>
  </div>

  <% include partials/footer %>