<% include partials/header %>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to YelpCamp</h1>
            <p>A site dedicated to share campgrounds</p>
            <a class="mt-2 btn btn-dark btn-large" href="campgrounds">View all the campgrounds</a>
        </div>


        <p>Welcome to the early Website</p>


    </div>
    <% include partials/footer %>