<% include partials/header %>
<div class="container">
  <header class="jumbotron">
    <h1>This is the landing webpage!</h1>
  </header>

  <p>Welcome to the early Website</p>

  <a href="campgrounds">View all the campgrounds</a>
</div>
  <% include partials/footer %>

